.admin-container {
    width: 90%;
    height: 770px;
    margin: 10px;
    border: 1px solid #555;
  }

  .admin-left {
    width: 8%;
    height: 100%;
    float: left;
    border: 1px solid #555;
  }